@import url("./__cell/table__cell.css");
@import url("./__cell/_theme/table__cell_theme_dark.css");
@import url("./__cell/.table__heading.css");
@import url("./__cell/.table__text.css");
.table {
    padding: 0;
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}
