@import url("../blocks/header/header.css");
@import url("../blocks/logo/logo.css");
@import url("../blocks/table/table.css");
@import url("../blocks/description/description.css");
@import url("../blocks/two-columns/two-columns.css");
@import url("../blocks/feynman/feynman.css");
/* @import url(""); */
.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.digits {
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
}
.section-title {
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  margin: auto;
  text-align: center;
}
.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin: 20px auto 0;
  text-align: center;
}

.kaufman {
  position: relative;
  background-color: #1f1f1f;
  overflow: hidden;
  padding-bottom: 90px;
}
.section-title_theme_dark {
  color: #fff;
  margin-top: 90px;
  position: relative;
  z-index: 1;
}
.section-subtitle_theme_dark {
  color: #fff;
  margin-top: 20px;
  position: relative;
  z-index: 1;
}
.kaufman__triangle {
  background-image: url("../images/kaufman-triangle.svg");
  width: 660px;
  height: 636px;
  position: absolute;
  right: -124px;
  top: 0;
  animation: rotation 20s linear infinite;
  -webkit-animation: rotation 20s linear infinite;
}

.table_theme_dark {
  color: #fff;
}

.table__heading_theme_dark {
  color: #fff;
}

.table__text_theme_dark {
  color: #fff;
}

.footer {
  background-color: #1f1f1f;
  color: #fff;
  min-height: 350px;
  display: flex;
}

.footer__columns {
  margin: 60px auto 40px;
  width: 90%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  flex-basis: 711px;
  justify-content: space-between;
  flex-direction: column;
}

.footer__column_content_about {
  margin: 0;
  padding: 0;
}

.footer__author {
  margin: 18px 0;
  width: fit-content;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
}

.footer__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__social-icons {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

/* ? */
.techniques .section-title {
  line-height: 1.15;
}

.cards {
  padding: 0;
  margin: auto;
  list-style: none;
  display: grid;
  flex-wrap: wrap;
  width: 920px;
  grid-template-columns: repeat(3, 1fr);
}

.cards__item {
  padding: 0;
  margin-right: 100px;
  width: 240px;
}

.cards__image {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin: 60px 40px 43px 40px;
}

.cards__title {
  margin-bottom: 16px;
  text-align: center;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.cards__description {
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

.video {
  position: relative;
  margin-top: 100px;
}

.video .section-title {
  line-height: 1.15;
}

.video__iframes {
  display: flex;
  justify-content: center;
}

.video__iframe {
  width: 525px;
  height: 316px;
  margin-right: 20px;
  position: relative;
  top: 50px;
  /* dellete this line */
  background-color: #1f1f1f;
}

.oakley {
  background-color: #f2f2f2;
}
/* ? */
.oakley .two-columns {
  padding-top: 160px;
  padding-bottom: 80px;
  margin: 0 auto;
}

.khan {
  background-color: #f2f2f2;
}
.khan__container {
  width: 80%;
  /* margin: 105px auto 0; */
  margin: auto;
}

.khan__author {
  padding-top: 105px;
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}
.khan__title {
  padding: 0;
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}
.khan__quote {
  padding: 0;
  margin: 50px 0 36px 0;
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.khan__quote-author {
  padding: 0;
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote-author-subline {
  margin: 10px 0 68px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  display: flex;
}

.khan__book-pic {
  /* 620x608px */
  width: 608px;
  height: 620px;
  margin-right: 48px;
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  height: min-content;
}

.khan__buy-link::after {
  content: " \2192";
}

.resources {
  margin: 100px 0 217px 0;
}

.resources__logo-zone {
  /* 1100px */
  width: 1100px;
  margin: auto;
}

.resources__logo {
  /* 270x38px */
  width: 270px;
  height: 38px;
  margin-top: 80px;
}
